*{
	box-sizing:border-box;
}

body{
    line-height:1.5;
    margin:0px;
	padding:0px;
}

header{
    height:90px;
    padding:20px 30px;
    background-color: #00a1ff;
}

h1{
    text-align:left;
    font-size:30px;
    color:white;
}

.login-form{
    width:350px;
    margin:0 auto;
    margin-top:80px;
}

.login-form h1{
    color: black;
    text-align:center;
    margin-bottom:20px;
}
input{
    width:350px;
    border:1px solid black;
    height:40px;
    border-radius: 5px;
    margin-bottom:30px;
    padding:0 10px;
}

input[type="submit"]{
    font-size:30px;
    height:40px;
    background-color: #00a1ff;
    color:white;
    font-weight:700;
    border:none;
    margin-bottom:20px;
}

.login-form p{
    text-align: center;
}