*{
	box-sizing:border-box;
}

body{
    line-height:1.5;
    margin:0px;
	padding:0px;
}

header{
    height:90px;
    padding:20px 30px;
    /* background-color: #00a1ff; */
    background-color: #18567a;
    color:white;
    /* margin-bottom:60px; */
}

h1{
    font-size:30px;
}

header h1{
    float:left;
}

.header-nav{
    float:right;
    margin-top: 10px;
}

.header-nav li {
    display: inline-block;
    margin-left: 40px;
    color:white;
    font-size:20px;
}

.header-nav a {
    color:white;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.user-profile{
    margin:auto;
    padding:60px 40px;
    /* margin-bottom:60px; */
    position:relative;
}

#edit-button{
    position: absolute;
    top: 10px;
    right: 137px;
    background-color: #18567a;
    border: none;
    padding: 10px;
    width: 100px;
    color: white;
    box-shadow: 5px 4px 8px #929090;
    font-size: larger;
    border-radius: 5px;
    font-family: auto;
}

input,textarea{
    width:350px;
    border:1px solid black;
    height:40px;
    border-radius: 5px;
    padding:0 10px;
}

#fname{
    margin-left:24px;
    margin-top:30px;
}

#lname{
    margin-left:27px;
}

#email{
    margin-left:40px;
}

#profile{
    width:150px;
    height:150px;
    /* margin-bottom:30px; */
    margin-left: 175px;
}

#male{
    margin-left:54px;
    margin-right:3px;
}

#address{
    margin-left:50px;
    padding:5px 10px;
    height:100px;
}

#passwd{
    margin-left:39px;
}

#profile-image{
    display:none;
    margin-left:175px;
    border:none;
    width:auto;
}

input[type="radio"]{
    width:auto;
    border:none;
    height:auto;
    border-radius: auto;
    margin-bottom:20px;
    margin-left:20px;
}

label{
    font-size:20px;
    color:white;
}

.profile-data{
    width: 500px;
    margin: auto;
    padding: 40px 12px;
    background-color: #ffffff;
    border-radius: 10px;
    color:white;
    background-color: cadetblue;
    box-shadow: 10px 10px 15px #929090;
}

#submit-btn{
    border: none;
    padding: 10px;
    width: 150px;
    height:auto;
    color: white;
    font-size: x-large;
    border-radius: 7px;
    font-family: auto;
    margin-left:175px;
    margin-top:10px;
    background-color: #0f425f;
    display:none;
}