*{
	box-sizing:border-box;
}

body{
    line-height:1.5;
    margin:0px;
	padding:0px;
}

header{
    height:90px;
    padding:20px 30px;
    /* background-color: #00a1ff; */
    background-color: #18567a;
    margin-bottom:50px;
}

.header-nav{
    /* position: relative; */
    float:right;
    margin-top: 10px;
}

.header-nav li {
    display: inline-block;
    margin-left: 40px;
    color:white;
    font-size:20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header-nav a:hover{
    text-decoration: underline;
}

.heading{
    float:left;
}

h1{
    text-align:left;
    font-size:30px;
    color:white;
}

.register-form{
    width:400px;
    margin:0 auto;
    /* margin-top:40px; */
    color:white;
    padding: 20px 30px;
    background-color: cadetblue;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #929090;
    margin-bottom: 50px;
}

.register-form h1{
    color: white;
    text-align:center;
    margin-bottom:20px;
}

input,textarea{
    width:340px;
    border:1px solid black;
    height:40px;
    border-radius: 5px;
    margin-bottom:15px;
    padding:0 10px;
}

input[type="radio"]{
    width:auto;
    border:none;
    height:auto;
    border-radius: auto;
    margin-bottom:20px;
    margin-left:20px;
}

input[type="submit"]{
    width:340px;
    font-size:30px;
    background-color: #0f425f;
    color:white;
    font-weight:600;
    border:none;
    margin:30px 0;
}

img{
    width:100px;
    height:100px;
}

textarea{
    height:70px;
    padding:5px 10px;
}

input[type="file"]{
    height: auto;
    width:auto;
    border:none;
    color:white;
}

label {
    color: white;
    font-size: 20px;
}