*{
	box-sizing:border-box;
}

body{
    line-height:1.5;
    margin:0px;
	padding:0px;
}

.clear{
    clear: both;
}

header{
    height:90px;
    padding:20px 30px;
    /* background-color: #00a1ff; */
    background-color: #18567a;
    color:white;
}

h1{
    font-size:30px;
}

header h1{
    float:left;
}

.header-nav{
    position: relative;
    float:right;
    margin-top: 10px;
}

.header-nav li {
    display: inline-block;
    margin-left: 40px;
    color:white;
    font-size:20px;
}

#profile-link-li{
    margin-left:0px;
}

#profile-link{
    padding-left:10px;
}

#profile-image{
    position: absolute;;
    top:-10px;
    left:0px;
    margin-right:5px;
    width:50px;
    height:50px;
}

.header-nav a {
    color:white;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.todo{
    padding:30px 0px;
}

.todo-container{
    width:1000px;
    /* padding:30px 0px; */
    margin:auto;
}

.button-container{
    height:50px;
    padding:10px 20px;
    background-color: #114766;
    overflow:hidden;
}

.button-container div{
    float:left;
    width:50%;
}

.head-button{
    height:30px;
    padding:4px 10px;
    font-size:large;
    background-color: #00a1ff;
    border:none;
    color:white;
    border-radius: 5px;
}

.left-tbn{
    float:left;
    margin-right:15px;
}

#done-btn{
    display:none;
}

.right-button{
    float:right;
    margin-left:20px;
    height:30px;
    border-radius: 5px;
}

#delete-btn{
    opacity: 0.4;
    /* display:none; */
}

#category{
    padding:0px 4px;
}

#search-box{
    width: 150px;
    height: 26px;
    margin-top: 2px;
    padding: 0px 5px;
}

table{
    margin:auto;
    margin-top:50px;
    width:80%;
    /* border-collapse: collapse; */
}

tr{
    text-align: center;
    padding-bottom:10px;
    border-bottom: 1px solid black;
    line-height: 2.3;
}

th{
    padding-bottom:5px;
    font-size: large;
}

#search-message{
    width:80%;
    margin:auto;
    margin-top:20px;
    text-align: center;
    display: none;
}